.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
  }
  
  .li1 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .li1 a:hover {
    background-color: #555;
    color: white;
  }

 h1 {
    text-align: center;
 }
 
  .allColumns {
    
    display: grid;
    grid-template-columns: repeat(auto);
    row-gap: 100px;
    grid-auto-rows: minmax(10px, auto);
  }
  .one {
    grid-column: 2;
    grid-row: 1;
  }
  .two {
    grid-column: 3;
    grid-row: 1;
  }
  .three {
    grid-column: 4;
    grid-row: 1;
  }
  .four {
    grid-column: 2;
    grid-row: 2;
  }
  .five {
    grid-column: 3;
    grid-row: 2;
  }
  .six {
    grid-column: 4;
    grid-row: 2;
  }
